html {
  scroll-snap-type: y mandatory;
}
.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.app__top > h1 {
  text-align: center;
  color: white;
}
.app__video {
  height: 85vh;
  position: relative;
  background-color: white;
  width: 70%;
  border-radius: 20px;
  max-width: 450px;
  max-height: 1200px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
.app__video::-webkit-scrollbar {
  display: none;
}

.app__video {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
